
body {
  font-family: arial, sans-serif;
}
.calculatorStyle {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.col1,.col2 {
  width: 50%;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.pb-2 {
  padding-bottom: 8px;
}
.pb-3 {
  padding-bottom: 16px;
}
.form-group{
  margin-bottom: 30px;
}
input {
  width: 80%;
  border: 1px solid #000;
  padding: 10px 5px;
}
.asterik {
  color: #F00;
  font-size: 16px;
}
.btn-success {
  background: linear-gradient(to left, #3f8830, #46a033);
  color: #fff;
  text-align: center;
  padding: 8px 10px;
  margin: 0px;
  border: 1px solid #3f8830;
  border-radius: 4px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  min-width: 120px;
}
.loader {
  height: 14px;
  display: inline-block;
}
.reasultBox {
  border: 1px solid #000;
  padding: 20px;
  min-width: 50px;
  width: auto;
  max-width: 80%;
  display: inline-block;
  text-align: center;
  background: rgba(0,0,0,.05);
  min-height: 20px;
}
.successMessage {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #3f8830;
  display: block;
}
.errorMessage {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #ff0000;
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.td_action{
  text-align: center;
}
.btn-del-row{
  height:30px;
  width:30px;
  background: #fff;
  border: 1px solid red;
  border-radius: 30px;
  cursor: pointer;
}

.btn-del-row .fa-trash-o {
  color: red;
}
